
@import "tailwindcss";




[data-theme="dark"] {
  background-color: #1a202c; /* Dark background */
  color: white; /* Light text */
}

[data-theme="light"] {
  background-color: #f9fafb; /* Light background */
  color: black; /* Dark text */
}
