@import "tailwindcss";

/* styles.css */
body {
    transition: background-color 0.3s, color 0.3s;
  }
  
  .dark {
    background-color: #1a202cc0; /* Dark background */
    color: #ffffff; /* Light text color */
  }